@(user: User, friends: Seq[com.restfb.types.User])

@home(Some(user), "Your friends") {
<div id="friends_container">
    @if(!friends.isEmpty) {
		@friends.map { friend =>
    <ul>
        <li>
            <a class="unselected" href="http://www.facebook.com/@friend.getId">
            <div class="small_circle" style="background-image: url('http://graph.facebook.com/@friend.getId/picture?type=large"></div>
                @friend.getName
            </a>

        </li>
    </ul>
		} 
    } else {
    	<p>None of your friends uses the Escape app.</p>
    }
</div>
}
